<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote électronique</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="https://unpkg.com/vue@3"></script>
    <script type="module" src="main.js"></script>
</head>

<body id="app">

    <nav>
        <ul class="menu">
            <li><a href="#" v-on:click="chargerTab" data-tab="list">Liste des candidats</a></li>
            <li><a href="#" v-on:click="chargerTab" data-tab="vote">Voter</a></li>
            <li v-if="listVotes.length == db.applicants.length"><a href="#" v-on:click="chargerTab"
                    data-tab="results">Résultats</a></li>
        </ul>
    </nav>

    <main v-if="db.applicants.length > 0">

        <h1>Élections des 3 représentants du conseil</h1>
        <h2>{{ candidates.length }} candidats</h2>

        <!-- SECTION 1 : LISTE DES CANDIDATS -->

        <section v-if="activeTab == 'list'">
            <div class="flex">

                <article class="card" v-for="applicant in candidates">
                    <div class="inner">
                        <div class="front">
                            <img :src="getPhotoUrl(applicant.id)" alt="Photo du candidat">
                        </div>
                        <div class="back">
                            <h2>{{ applicant.lastname }} {{ applicant.firstname }}</h2>
                            <div>
                                <img :src="getPhotoUrl(applicant.id)" alt="Photo du candidat">
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <button class="btn-vote" v-on:click="chargerTab" data-tab="vote">Je vote !</button>
        </section>

        <!-- SECTION 2 : TABLEAU DE VOTE -->

        <section v-if="activeTab == 'vote'">
            <table class="votes">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Soutenir ce candidat</th>
                    </tr>
                </thead>
                <tbody>

                    <tr v-for="applicant in candidates">
                        <td><img :src="getPhotoUrl(applicant.id)" class="photo" alt="Photo du candidat"></td>
                        <td>{{ applicant.lastname }}</td>
                        <td>{{ applicant.firstname }}</td>
                        <td>
                            <div class="flex" :class="{ 'done': listVotes.includes(applicant.id) }">
                                <button v-on:click="vote" data-vote="yes" :data-id="applicant.id">Oui</button>
                                <button v-on:click="vote" data-vote="no" :data-id="applicant.id">Non</button>
                            </div>

                        </td>
                    </tr>

                </tbody>
            </table>
        </section>

        <!-- SECTION 3 : RESULTATS -->
        <section v-if="activeTab == 'results'">
            <h2>Merci d'avoir voté !</h2>
            <p v-for="candidate in candidatesSorted">
                {{ candidate.lastname }} {{ (candidate.votes * 100 / total).toFixed(2) }} %
            <progress :max="total" :value="candidate.votes"></progress>
    </main>
</body>

</html>